body {
  background-color: #EEEEEE;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  scroll-behavior: smooth;
  color: #393E46;
}

h1 {
  color: #66BFBF;
  font-family: 'Allison';
  font-size: 110px;
  margin: 0;
  padding: 10px;
  /*border-radius: 15px;
  border:solid;
  border-style:solid;
  border-color: white;*/
}

p {
  font-family: 'Fauna One';
  font-size: 1.7rem;
  /*background-color: #EEEEEE;*/
  color: #393E46;
  padding: 5px;
  border-radius: 15px;
}

h2 {
  font-family: 'Sail', cursive;
  color: #11999E;
  font-size: 3rem;
}

hr {
  border: dotted #99D8D0 10px;
  border-top: 16px;
  width: 15%;
}

a:hover, a:active {
  color: #00A19D;
  font-size: 117%;
}

.Top-Container {
  background-color: #E8F6EF;
  margin: 0;
  height: 750px;
  width: 100%;
  padding-top: 100px;
  display: inline-block;
  /*border-radius: 15px;
  border:solid;
  border-color: black;
*/
}

.Middle-Container {
  background-color: #E8F6EF;
  line-height: 3rem;
}

.Webclass {
  font-family: 'Allison';
  font-weight: bold;
  font-size: 150%;
}

.Upper-middle {
  height: 30%;
  width: 75%;
  /*border:solid;
  border-color: black;
  border-width: medium;*/
  position: relative;
  left: 0;
  display: inline-block;
}


.profileimg {
  margin-top: 50px;
  width: 20%;
  display: inline-block;
}

.skill-row {
  /*border: solid;*/
  display: block;
  text-align: left;
  margin: auto;
  margin-bottom: 100px;
  height: 250px;
  width: 75%;
  margin-bottom: 15px;
}

.skillcode {
  float: left;
  padding-right: 30px;
  margin-bottom: 50px;
  width: 20%;
  border-radius: 50%;
}

.skillexcel {
  float: right;
  padding-left: 30px;
  width: 20%;
}

.skillset {
  font-family: 'Sacramento', cursive;
  margin: auto;
  font-size: 3rem;
}

.skillset1 {
  font-family: 'Sacramento', cursive;
  margin: auto;
  font-size: 3rem;
  text-align: right;
}

.skillcompp1 {
  text-align: right;
}

.contact-me {
  margin-top: 20px;
  background-color: #B8DFD8;
  padding: 1rem;
}

.btn {
  color: #11999E;
  font-weight: 300;
}

.year2020 {
  text-decoration: underline;
  font-style: 'Allison';
}

.skills {
  /*border: solid;*/
  margin-top: 50px;
  margin-bottom: 2%;
}
.clouds{
  /*border: solid;*/
  width:100%;
  height: 300px;
  position: absolute;
  top:5%;
  margin:0;

}
.cloud-l {
  /*border: solid;*/
position: absolute;
left:50px;
}

.cloud-r {
  /*border: solid;*/
  float: right;
  position: absolute;
  bottom: 50%;
  left:70%;
  right:50px;
  }

.btn {
  color: #11999E;
  font-weight: 300;
  text-decoration: none;
  padding: 20px 20px;
}

.year2020 {
  text-decoration: underline;
  font-style: 'Allison';
}

.skills {
  margin-top: 50px;
}

.nearbtn {
  width: 1.5%;
}

.nearbtn:hover {
  width: 2%;
}

.nearbtn1 {
  width: 1.20%
}

.nearbtn1:hover {
  width: 2%;
}

.nearbtn2 {
  width: 1.35%;
}

.nearbtn2:hover {
  width: 2.3%;
}
